<article class="content">
  <div class="info__wrapper">
    <h5 class="info__title">Генная терапия</h5>
    <div class="info">
      <div class="main__info">
        Генная терапия – это внедрение здоровой версии гена в
        вирус, который выполняет функцию доставки гена в
        сетчатку глаза. Перед использованием вирус
        изменяют так, что он становится безопасным для человека.
        В поврежденных клетках сломанные гены заменяются здоровыми,
        и это останавливает процесс развития заболевания
      </div>
      <div class="add__info">
        Лечение включает в себя разовую инъекцию препарата , содержащего в себе модифицированный
        вирус и терапевтический ген. Прогноз успешной терапии при таком лечении составляет более 95 %
      </div>
    </div>

  </div>
</article>
