<article class="content">
  <div class="info__wrapper">
    <h5 class="info__title">БОЛЕЗНЬ ШТАРГАРДТА</h5>
    <div class="info__circles">
      <div class="circle__big">

        <div class="str1 str">Болезнь Штаргардта</div>
        <div class="str2 str">наиболее общая форма</div>
        <div class="str3 str">наследственной подростковой</div>
        <div class="str4 str">макулярной дегенерации. Потеря</div>
        <div class="str5 str">зрения, характерная для этой болезни,</div>
        <div class="str6 str">вызывается постепенной гибелью клеток</div>
        <div class="str7 str">в центральной части сетчатки</div>
        <div class="str8 str">которая называется</div>
        <div class="str9 str">макула.</div>

      </div>
      <div class=circle__small>
        тут тоже будет какой-то текст
      </div>
    </div>
  </div>
</article>
