<article class="content">
  <div class="info__wrapper">
    <h5 class="info__title">БОЛЕЗНЬ ШТАРГАРДТА</h5>
    <div class="info">
      <div class="info__general">
        Болезнь Штаргардта– это юношеская форма центральной дегенерации сетчатки, для
        которой характерно прогрессирующее поражение макулярной области. Болезнь имеет
        преимущественно наследуется по аутосомно-доминантному типу, реже - по аутосомно-рецессивному.
        Патология встречается с частотой 1:10000 и проявляется в возрасте
        от 6 до 17 лет. В случае возникновения в раннем возрасте болезнь может привести к инвалидности
      </div>
      <div class=" info__mechanism">
        Основной причиной дегенерации клеток макулы является дефицит энергии, возникающий на фоне
        синтеза неполноценного белка, который отвечает за транспортировку молекул АТФ сквозь
        мембрану клеток макулы. Неисправность АТФ-связывающего кассетного транспортера приводит к накоплению токсичного
        метаболита липофусцина в пигментном эпителии сетчатки глаза. При болезни Штаргардта это
        накопление идет очень интенсивно, и липофусцин аккумулируется анормальным образом.
      </div>
    </div>
  </div>
</article>
